<a href="https://colab.research.google.com/github/hibameo/python_Operators/blob/main/PYTHON_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ðŸ”¹ 1. Arithmetic Operators

Ye math wale operations karte hain.

Operator   :   +

Meaning	: Addition

Example	 : 5 + 3

Result : 8

Operator :   -

Meaning : Subtraction

Example : 10 - 4

Result : 	6

Operator : *

Meaning : Multiplication

Example :  2 * 3

Result :  6

Operator :   /

Meaning :  Division

Example :   8 / 2

Result :  	4.0

âœ… Example:

In [3]:
a = 10
b = 3

print(a + b)   # 13
print(a - b)   # 7
print(a * b)   # 30
print(a / b)   # 3.333...
print(a // b)  # 3
print(a % b)   # 1
print(a ** b)  # 1000

13
7
30
3.3333333333333335
3
1
1000

ðŸ”¹ 2. Comparison Operators

Ye do values ko compare karte hain aur True ya False return karte hain.

Operator : ==

Meaning : 	Equal to

Example : 5 == 5

Result : True

Operator : !=

Meaning : 	Not equal to

Example : 	5 != 3

Result :  	True

Operator : >

Meaning : Greater than

Example : 	7 > 3

Result :  True

Operator : <

Meaning : 	Less than

Example : 	2 < 4

Result :  True

Operator : >=

Meaning : 		Greater or Equal

Example : 	4 >= 4

Result :  True

Operator : <=

Meaning :  Less or Equal

Example : 	3 <= 2

Result :  False

âœ… Example:

In [4]:
x = 6
y = 10

print(x == y)   # False
print(x != y)   # True
print(x > y)    # False
print(x < y)    # True
print(x >= 6)   # True
print(y <= 9)   # False

False
True
False
True
True
False

ðŸ”¹ 3. Logical Operators

Ye multiple conditions ko combine karte hain.

Operator : and

Meaning : 	Dono condition true hon

Example : 	True and False

Result :  False

Operator : or

Meaning : 	Koi ek condition true ho

Example : 	True or False

Result :    True

Operator : not

Meaning : Condition ko ulta kar deta hai

Example : 	not True

Result :     False

âœ… Example:

In [5]:
a = 5
b = 10

print(a > 2 and b > 5)   # True
print(a < 2 or b > 5)    # True
print(not a == 5)        # False

True
True
False

ðŸ”¹ 4. Assignment Operators

Ye variables ko value assign karte hain.

Operator : =

Meaning : 	Assign value

Example : x = 5

Operator : +=

Meaning : 	x = x + 3

Example :   	x += 3

Operator :     -=

Meaning : 		x = x - 2

Example :      x -= 2

Operator :     *=

Meaning : 		x = x * 4

Example :      x *= 4

Operator :     /=

Meaning : 		x = x / 2

Example :     x /= 2

âœ… Example:

In [6]:
x = 10
x += 5   # x = x + 5 â†’ 15
x *= 2   # x = x * 2 â†’ 30
print(x) # 30

30